<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiKey" value="fb24d672ebmsh17f3a5c9faa23b4p13710fjsn29986890dc78" />
        <add key="ApiHost" value="rapid-translate-multi-traduction.p.rapidapi.com" />
        <add key="ApiLink" value="https://rapid-translate-multi-traduction.p.rapidapi.com/t" />
    </appSettings>
</configuration>