<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiKey" value="5dcc4e7d57mshe81b4c5668fac1ap12fd58jsn9409679c91ee" />
        <add key="ApiHost" value="rapid-translate-multi-traduction.p.rapidapi.com" />
        <add key="ApiLink" value="https://rapid-translate-multi-traduction.p.rapidapi.com/t" />
    </appSettings>
</configuration>